# OS
.DS_Store

# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.turbo/
.svelte-kit/

# Environment files
.env
.env.*
!**/.env.example
!.env.example
infra/.env
infra/cloudflared/*.json
infra/cloudflared/config.yml

# Logs and coverage
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
coverage/

# IDE directories
.idea/*
!.idea/runConfigurations/
